

/* Fundo rosa claro */
body {
  background-color: #ffe6f0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1, h2, h3, p, ul, ol {
  text-align: center;
}

img {
  display: block;
  margin: 20px auto;
  width: 300px; /* ou 300px se quiser maior */
  height: 400px;
}

h1 {
  font-size: 2.2rem;
  color: #b30059; /* tom de rosa escuro */
  font-weight: bold;
}

h2 {
  margin-bottom: 0.5rem; 
  
}


body {
  padding: 30px;
  line-height: 1.6;
}

ul, ol {
  text-align:left;
  max-width: 500px;
  margin:auto; 20px;
  background-color: #F8F8FF;
  padding:auto; 20px;
  border-radius:10px;
}

.caixa-conteudo {
  margin-top: 0;
}



  



